<ion-card>
  <ion-card-header>
    <ion-card-subtitle>{{post.category ? post.category.parent.name : ''}}</ion-card-subtitle>
    <ion-card-title>{{post.category ? post.category.name : ''}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    {{post.mensaje}}
    <p>{{post.direccion}}</p>
  </ion-card-content>

  <!-- imgs -->
  <ion-slides pager="true" *ngIf="post.imgs && post.imgs.length>1">
    <ion-slide class="image-slide" [style]="(img|image:post.usuario._id) | domSanitizer" *ngFor="let img of post.imgs">
    </ion-slide>
  </ion-slides>

  <ion-slides *ngIf="post.imgs && post.imgs.length===1" [options]="slideSoloOpts">
    <ion-slide class="image-slide" [style]="(post.imgs[0]|image:post.usuario._id) | domSanitizer"></ion-slide>
  </ion-slides>

  <!-- mapa -->
  <app-mapa [coords]="post.coords" *ngIf="post.coords"></app-mapa>

</ion-card>